<%= render 'session_header' %>
<h3>Event name: </h3>
<%= @event.name %>

<h3>Participants: </h3>
  <ul>
    <% active_users = @event.active_users %>
    <% @event.participants.each do |p| %>
      <li>
        <%= p == current_user ? 'You' : p.username %>
        (<%= active_users.include?(p) ? 'online' : 'offline' %>)
      </li>
    <% end %>
  </ul>
<h3>Created by: </h3>
<%= @event.user.username %>

<%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to 'Back', user_home_path(current_user) %>
<%= link_to 'Go to session', event_to_session_path(@event) %>