<%= render 'session_header' %>

<div>

    <div>
        <ul id="conversation"></ul>
    </div>
    <div>
        <input type="text" id="message">
        <button id="sendBtn">  Send Message  </button>
    </div>
    <div>
      <ul id="onlineUsers"></ul>
    </div>


  <%= javascript_include_tag 'http://cdn.peerjs.com/0.3/peer.min.js' %>
  <%= javascript_include_tag 'chat_client/chatController.js' %>
  <%= javascript_include_tag 'chat_client/chatModel.js' %>
  <%= javascript_include_tag 'chat_client/chatClient.js' %>
  <%= javascript_include_tag 'chat_client/chatView.js' %>
  <%= javascript_include_tag 'chat_client/sessionModel.js' %>
  <%= javascript_include_tag 'chat_client/init.js' %>



</div>


<%= link_to 'Leave session', event_leave_session_path(@event) %>